<nav id="cd-vertical-nav">
	<ul style="list-style: none;font-size: 4vh;">
		<li>
			<a href="" ng-click="gotoElement('opening')">
				<span class="cd-dot" style="height: 3vh;width: 3vh;"></span>
			</a>
		</li>
		<li>
			<a href="" ng-click="gotoElement('undergrad')">
				<span class="cd-dot" style="height: 3vh;width: 3vh;"></span>
			</a>
		</li>
		<li>
			<a href="" ng-click="gotoElement('current')">
				<span class="cd-dot" style="height: 3vh;width: 3vh;"></span>
			</a>
		</li>
		<li>
			<a href="" ng-click="gotoElement('future')">
				<span class="cd-dot" style="height: 3vh;width: 3vh;"></span>
			</a>
		</li>
	</ul>
</nav>
<a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>


<div>
  <div class="image" id="opening" style="background-image: url(../photos/malawi_flag.jpg);overflow: hidden;">
	<h1 class="full_page_header" style="background-color: rgba(244, 66, 78,.75);margin-top: 12%;"><b>Introduction</b></h1>
	<p class="full_page_content" style="background-color: rgba(244, 66, 78,.75);">
		I was born in Malawi, Africa, where I lived for 6 years and then I lived in Angola for 4 years before moving
		to the United States at the age of 10.
	</p>
  </div>
  <div class="image" id="undergrad" style="background-image: url(../photos/candid.jpg);overflow: hidden;">
		<h1 class="full_page_header" style="background-color: rgba(39, 48, 147,.75);color: #fff;"><b>Undergraduate Degree</b></h1>
		<p class="full_page_content" style="background-color: rgba(39, 48, 147,.75);color: #fff;">
			<b>I graduated from Virginia Tech in May 2017 majoring in Electrical and computer engineering along with
			a minor in math.</b>
		</p>
  </div>
  <div class="image" id="current" style="background-image: url(../photos/vt.jpg);overflow: hidden;">
		<h1 class="full_page_header" style="background-color: rgba(122, 74, 31,.75);color: #C6976E;"><b>Current Plans</b></h1>
		<p class="full_page_content" style="background-color: rgba(122, 74, 31,.75);color: #C6976E;">
			<b>Currently I am continuing my education at Virginia Tech with a Masters in Computer Engineering which I hope to
			accomplish by May 2018</b>
		</p>
  </div>
	<div class="image" id="future" style="background-image: url(../photos/robot.jpg);overflow: hidden;">
		<h1 class="full_page_header" style="background-color: rgba(211,211,211,.75);color: #535353;"><b>Future Plans</b></h1>
		<p class="full_page_content" style="background-color: rgba(211,211,211,.75);color: #535353;">
			<b>In the future I plan on working in a field that threads the edge of hardware and software, focussing on how best to
			integrate the two together</b>
		</p>
  </div>
</div>
